<!doctype html>
<html {{ if html_attrs }}{{= html_attrs }}{{ else }}lang="en"{{ end }}>
  <head>
    {{ if metas }}{{ dynamic_include sw_templates(metas) }}{{ else }}{{ include metas }}{{ end }}
    {{ if title }}<title>{{= title }}</title>{{ end }}
    {{ if styles }}{{ dynamic_include sw_templates(styles) }}{{ else }}{{ include styles }}{{ end }}
  </head>
  <body {{ if body_attrs }}{{= body_attrs }}{{ end }}>
    {{ if navbar }}{{ dynamic_include sw_templates(navbar) }}{{ end }}
    {{ if content }}{{ dynamic_include sw_templates(content) }}{{ end }}
    {{ if scripts }}{{ dynamic_include sw_templates(scripts) }}{{ else }}{{ include scripts }}{{ end }}
  </body>
</html>
