<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/bootstrap/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/bootstrap/js/vendor/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
